<div class="row">
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"> <%= link_to "Nuevas" %></li>
      <li role="presentation"><%= link_to "Mas votadas" %></li>
    </ul>
    <br>
    <% if !@questions.empty? %>
      <% @questions.each do |f| %>
          <div class="row filas">
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <div>
                    <span>15</span>
                    <span>votos</span>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div>
                    <span>15</span>
                    <span>votos</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div>
                    <span>15</span>
                    <span>votos</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                  <%= link_to f.tittle, question_path(f) %>
                </div>
              </div>
              <div class="row">
                <% user = f.user %>
                <span class="nombre"><%= user.name%>    <span class="reputation"><%=user.reputation == nil ? 0:user.reputation%></span> </span>

              </div>
            </div>
          </div>
      <% end %>
    <% else %>
    No hay preguntas
    <%end %>
  </div>
  <div class="col-sm-4">
    <div class="col-sm-6 vertical-center" >
      <div class="row">
        <div class="col-sm-12">
          <span ><%= @questions.count %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span>Preguntas</span>
        </div>
      </div>

    </div>
    <% if logged? %>
      <div class="col-sm-6">
        <%= link_to "Hacer una pregunta",new_question_path, class:'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>


