

<%if @user %>
  <% if @user.errors.any? %>
      <div>
        <div class="alert alert-danger">
          El formulario contiene <%= pluralize(@user.errors.count,"error") %>
        </div>
        <div>
          <% @user.errors.full_messages.each do |f| %>
            <ul>
              <li><%= f %></li>
            </ul>
          <% end %>
        </div>
      </div>

  <% end %>
<% elsif @question  %>
    <% if @question.errors.any? %>
        <div>
          <div class="alert alert-danger">
            El formulario contiene <%= pluralize(@question.errors.count,"error") %>
          </div>
          <div>
            <% @question.errors.full_messages.each do |f| %>
                <ul>
                  <li><%= f %></li>
                </ul>
            <% end %>
          </div>
        </div>
    <% end %>
<% elsif @comment %>
    <% if @comment.errors.any? %>
        <div>
          <div class="alert alert-danger">
            El formulario contiene <%= pluralize(@comment.errors.count,"error") %>
          </div>
          <div>
            <% @comment.errors.full_messages.each do |f| %>
                <ul>
                  <li><%= f %></li>
                </ul>
            <% end %>
          </div>
        </div>
    <% end %>


<% end %>

