<!DOCTYPE html>
<html>
  <head>
    <title>MakerStack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |type,content| %>
    <div class="alert alert-<%=type%>">
     <%= content %>
    </div>
    <% end %>
    <%= yield %>
  </div>

  </body>
</html>
